# ImgVis
# Visualize images with graphs
# Github: https://www.github.com/lewisevans2007/ImgVis
# Licence: GNU General Public License v3.0
# By: Lewis Evans

matplotlib==3.8.3 
numpy==1.26.4
Pillow==10.2.0